
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .contact-card {
    background-color: #fff !important;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
    padding: 35px;
  }
  
  .contact-name {
    color: #fbc119;
    font-size: 48px;
    margin-bottom: 40px;
  }
  
  .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  
  .contact-label {
    color: #21ae8c;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-input {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-input:hover {
    background-color: #d8d8d8;
  }
  
  .contact-textarea {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    padding: 10px;
    /* resize: none; */
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .contact-textarea:focus {
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .contact-textarea:hover {
    background-color: #d8d8d8;
  }
  