.mainpage_container{
    background: url(https://img.freepik.com/free-vector/cinema-festival-movie-night-cartoon-flyers-set_107791-5035.jpg?w=1380&t=st=1682270938~exp=1682271538~hmac=da604548feee64f96b9b9237ed2fec0668d1d0be997216839cf17ab999933a5a);
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    background-repeat: no-repeat;
}