body{
    background-color: #e3e3ea;
}
.movie_section{
    background-color: #e3e3ea;
}
.movie_container h1{
    text-align: center;
    font-size: 30px;
}

.moviecard_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    background-color: #e3e3ea;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    transition: transform 0.2s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
    z-index: 1;
  }

  
  
  .card_image {
    overflow: hidden;
    position: relative;
  }
  
  .card_image img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card_data {
    padding: 1rem;
  }
  
  .card_data h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card_data p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .card_data button {
    background-color: #21ae8c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out;
    margin-top: auto;
  }
  
  .card_data button:hover {
    background-color: #188c6c;
  }
  
  @media screen and (min-width: 768px) {
    .card {
      margin-right: 1rem;
    }
  }
  
  