.compl_header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 20px 20px 5px;
    border-bottom: 1px solid grey;
}

/* .main_navbar{
    
} */

.navbar_list{
    list-style-type: none;
}

.navbar_item{
    display: inline;
    margin: 0 10px 0 10px;
}